name: Binaries Windows 19 Server

on:
  workflow_dispatch:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-2019
    name: Build on ${{ matrix.distro }} ${{ matrix.arch }}

    steps:
    - uses: actions/checkout@v3
     
    - name: download winlibs
      shell: cmd
      run: |
        curl -OL https://github.com/brechtsanders/winlibs_mingw/releases/download/12.2.0-16.0.0-10.0.0-ucrt-r5/winlibs-i686-posix-dwarf-gcc-12.2.0-mingw-w64ucrt-10.0.0-r5.zip
        unzip -q winlibs-i686-posix-dwarf-gcc-12.2.0-mingw-w64ucrt-10.0.0-r5.zip
        PATH=%CD%\mingw32\bin;%PATH%
        gcc --version
    - name: compile bfs
      shell: cmd
      run: |
        gcc --version
        PATH=%CD%\mingw32\bin;%PATH%
        gcc --version
        mingw32-make -f win32winlibs.gmk bfs/exe

    - name: compile mec
      shell: cmd
      run: |
        PATH=%CD%\mingw32\bin;%PATH%
        gcc --version
        ld --version
        mingw32-make -f win32winlibs.gmk mec
        
    - name: compile mew
      shell: cmd
      run: |
        PATH=%CD%\mingw32\bin;%PATH%
        mingw32-make -f win32winlibs.gmk mew
        

        
        
    
